@font-face {
  font-family: 'Gotham';
  src: url('/src/assets/fonts/Gotham-Medium.woff') format('woff');
  font-weight: 400; /* Ajustá el peso según corresponda */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gotham', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
