.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  opacity: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.finalSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-bottom: 0;
  animation: fadeIn 0.8s ease-out forwards;
}

.imageContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  max-height: 800px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

.button {
  margin: 1.25rem 0;
  background-color: #253f5f;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

/* Styles for larger screens */
@media screen and (min-width: 768px) {
  .button {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 2rem;
  }
}

/* Even larger for desktop screens */
@media screen and (min-width: 1024px) {
  .button {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 2.5rem;
  }
}

.button:hover {
  background-color: #2f5583;
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}